body {
	background-color: #181818;
}

.grid {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: visible;
	pointer-events: none;
}

.now {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	margin-left: 1px;
	background-color: aqua;
	pointer-events: none;
}
